<div id="item_stats">
	<fieldset>
		<label>Created:</label>
		<br><%= @list_item.created_at.to_s(:long)%>
		<br>
		<label>Updated:</label>
		<br><%= @list_item.updated_at.to_s(:long)%>
	</fieldset>
</dev>