<div id="item_stats">
	<fieldset>
		<font size="-3">
		<label>Created:</label>
		<br><%= @list_item.created_at.to_s(:long)%>
		<br>
		<label>Updated:</label>
		<br><%= @list_item.updated_at.to_s(:long)%>
		<%if @list_item.done_at != nil%>
			<br>
			<label>Done:</label>
			<%=@list_item.done_at.to_s(:long)%>
		<%end%>
		</font>
	</fieldset>
</dev>